<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Pokemon Card</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/carta.css}"> 
</head>

<body>
	
	
	<h2 style="text-align: center;">CARTA POKEMONS</h2>
	<form th:action="@{/pokemons}" method="get">
		<input type="text" id="nome" name="nome" placeholder="Pokemon">
		<button type="submit">Buscar</button>										
	</form>
	
	<br>
	
	<table>
		<thead th:if="${not #lists.isEmpty(pokemons)}">
			<th>POKEMON</th>
			<th>HP</th>
			<th>VELOCIDADE</th>
			<th>ATAQUE</th>
			<th>DEFESA</th>
			<th></th>
		</thead>
		<tbody>
			<tr th:each="f : ${pokemons}">
				<td th:text="${f.get('nome')}" align="left"></td>			
				<td th:text="${f.get('hp')}" align="center"></td>
				<td th:text="${f.get('velocidade')}" align="center"></td>
				<td th:text="${f.get('ataque')}" align="center"></td>
				<td th:text="${f.get('defesa')}" align="center"></td>
				<td align="center" class="highlight">
					<a th:href="@{/pokemons/card/pdf/view(id=${f.get('id')})}">view</a>
					<a th:href="@{/pokemons/card/pdf/download(id=${f.get('id')})}">download</a>
				</td>
			</tr>
		</tbody>
			
	</table>
	
		
</body>

</html>