<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Relatório</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"> 
</head>

<body>
	
	
	<h2 style="text-align: center;">RELATORIO POKEMONS</h2>
	<form th:action="@{/pokemons/pdf}" method="get">
		<select id="tipo" name="tipo">
			<option value="">Selecione o Tipo</option>
			<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}">Selecione o Tipo</option>
		</select>
		<button type="submit">Buscar</button>
	</form>
	
</body>

</html>