body {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-image: url(../images/fundo.jpg);
	background-repeat: no-repeat;
	background-position-x: left;
	background-attachment: fixed;
}

h2 {
	color: #000;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

button {
	cursor: pointer;
}

/* Definir estilos gerais para a tabela */
table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

/* Estilo para o cabeçalho da tabela */
thead th {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

/* Estilo para as células da tabela */
tbody td {
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

/* Alterna a cor de fundo das linhas da tabela */
tbody tr:nth-child(even) {
	background-color: #FDF5E6;
}

/* Estilo para a primeira coluna da tabela */
tbody td:first-child {
	font-weight: bold;
}

/* Estilo para a última coluna da tabela */
tbody td:last-child {
	text-align: center;
}

/* Estilo para células de destaque */
tbody td.highlight {
	color: #333;
}

tbody td a {
	display: inline-block;
	text-align: center;
	color: #000;
}