body {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: #080808;
	height: 100vh;
}

a {
	font-family: Roboto;
	font-size: 24px;
	font-style: italic;
	text-decoration: none;
	color: #FFF;
}

span {
	color: #FFF;
}

div {
	display: flex;
	justify-content: center;
	margin-top: 50%;
}

.pikachu_background {
	height: 420px;
	width: 544px;
	background-image: url(../images/pikachu_recortado.png);
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.eye-closed {
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 70px;
	border-radius: 60px;
	border-bottom: #000 solid;
}

.eye-left {
	right: 170px;
}

.eye-right {
	right: 26px;
}